# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = <Your Name>
	email = <your.email@mailinator.com>
[core]
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gitmessage
