# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = stub-git-user
	email = stub-git-email
[core]
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gitmessage
